
body{
  background-color: black;
}
.fooder{
  background-color: black;
  height: 100px;
  h1{
  text-align: center;
  text-transform:uppercase;
  color:blueviolet;
  font:900;
  }
}
.main{
  color:bisque;
}
.main-1{
  color:brown;
}

#hi{
  color:yellowgreen;
}

div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}