
body{
  background-color: black;
}
.fooder{
  background-color: black;
  height:25%;
  h1{
  text-align: center;
  text-transform:uppercase;
  color:blueviolet;
  }
  h2{
    text-align: center;
    text-transform: lowercase;
    color: darkviolet;
  }
}
.main{
  color:bisque;
}
.main-1{
  color:brown;
}

#hi{
  color:yellowgreen;
}

div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}