
body{
  background-color: black;
}
.fooder{
  background-color: black;
  height: fit-content;
}
.main{
  text-align:center;
  text-decoration: dotted;
  color: darkviolet;
  margin: auto;
  }

div img{
  display: block;
  margin: auto;
}